{
  "openapi": "3.0.3",
  "info": {
    "title": "DiHub API",
    "description": "API para acessar as funcionalidades da plataforma DiHub",
    "version": "1.0.0",
    "contact": {
      "name": "Suporte DiHub",
      "email": "claudiolima@dihub.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api.dihub.com.br",
      "description": "Produção"
    },
    {
      "url": "https://homolog.api.dihubapp.com",
      "description": "Homologação"
    }
  ],
  "tags": [
    {
      "name": "Créditos",
      "description": "Gestão de saldo de créditos"
    },
    {
      "name": "Diligências",
      "description": "Emissão de diligências e gestão de certidões"
    }
  ],
  "paths": {
    "/credits/balance": {
      "get": {
        "tags": ["Créditos"],
        "summary": "Obter saldo de créditos",
        "description": "Retorna o saldo total de créditos do usuário autenticado, incluindo créditos pessoais e da organização",
        "operationId": "getBalance",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saldo de créditos obtido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Total de créditos disponíveis (usuário + organização)",
                      "example": 15.5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences": {
      "get": {
        "tags": ["Diligências"],
        "summary": "Listar diligências",
        "description": "Retorna a lista de IDs de todas as diligências associadas à conta autenticada, em ordem decrescente de criação.",
        "operationId": "listDiligences",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de diligências obtida com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador único da diligência",
                        "example": "550e8400-e29b-41d4-a716-446655440000"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/emit": {
      "post": {
        "tags": ["Diligências"],
        "summary": "Emitir diligência",
        "description": "Cria uma nova diligência. Suporta três cenários principais:\n\n1. **Diligência completa com certidões**: Requer distritos e opcionalmente inclui análise de crédito\n2. **Apenas análise de crédito**: Realiza somente análise de crédito sem emissão de certidões\n3. **Combinado**: Diligência completa com análise de crédito adicional",
        "operationId": "emitDiligence",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmitDiligenceRequest"
              },
              "examples": {
                "fullDiligenceCPF": {
                  "summary": "Diligência completa para CPF com um distrito",
                  "description": "Diligência padrão para pessoa física (CPF) em um distrito. Custo: 1 crédito",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      }
                    ]
                  }
                },
                "fullDiligenceCNPJ": {
                  "summary": "Diligência completa para CNPJ com um distrito",
                  "description": "Diligência padrão para pessoa jurídica (CNPJ) em um distrito. Custo: 1 crédito",
                  "value": {
                    "document": "12345678000190",
                    "districts": [
                      {
                        "state": "SP",
                        "district": "SAO_PAULO"
                      }
                    ]
                  }
                },
                "multipleDistrictsSameState": {
                  "summary": "Múltiplos distritos no mesmo estado",
                  "description": "Diligência cobrindo dois distritos no mesmo estado (ex: MG). Custo: 1 crédito",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      },
                      {
                        "state": "MG",
                        "district": "DIVINOPOLIS"
                      }
                    ]
                  }
                },
                "multipleDistrictsDifferentStates": {
                  "summary": "Múltiplos distritos em estados diferentes",
                  "description": "Diligência cobrindo distritos em estados diferentes. Custo: 2 créditos (1 base + 1 para múltiplos estados)",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      },
                      {
                        "state": "SP",
                        "district": "SAO_PAULO"
                      }
                    ]
                  }
                },
                "withCreditAnalysis": {
                  "summary": "Diligência completa com análise de crédito",
                  "description": "Combina emissão de certidões com análise de crédito. Custo: 1,5 créditos (1 para diligência + 0,5 para análise). Nota: Análise de crédito só é realizada se o titular tiver 18+ anos.",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [
                      {
                        "state": "MG",
                        "district": "BELO_HORIZONTE"
                      }
                    ],
                    "creditAnalysis": true
                  }
                },
                "creditAnalysisOnly": {
                  "summary": "Apenas análise de crédito (sem certidões)",
                  "description": "Realiza somente análise de crédito sem emitir certidões. Custo: 1 crédito. Requer que o titular tenha 18+ anos.",
                  "value": {
                    "document": "12345678901",
                    "creditAnalysisOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diligência criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "diligenceId": {
                      "type": "string",
                      "description": "Identificador único da diligência criada",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Diligence emitted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação ou violação de regra de negócio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "validationError": {
                    "summary": "Dados de entrada inválidos",
                    "value": {
                      "message": "Validation Error",
                      "details": [
                        {
                          "path": ["document"],
                          "message": "O documento deve ter 11 ou 14 caracteres"
                        }
                      ]
                    }
                  },
                  "missingDistricts": {
                    "summary": "Distritos obrigatórios para requisições que não são apenas análise",
                    "value": {
                      "message": "Validation Error",
                      "details": [
                        {
                          "path": ["districts"],
                          "message": "Distritos são obrigatórios quando não é apenas Análise DiHub"
                        }
                      ]
                    }
                  },
                  "insufficientCredits": {
                    "summary": "Créditos insuficientes",
                    "value": {
                      "message": "Not enough credits",
                      "details": {
                        "requiredCredits": 2,
                        "totalCreditsAmount": 1
                      }
                    }
                  },
                  "invalidDistrict": {
                    "summary": "Distrito inválido para o estado",
                    "value": {
                      "message": "Invalid district INVALID_DISTRICT in state MG",
                      "details": {
                        "district": {
                          "state": "MG",
                          "district": "INVALID_DISTRICT"
                        }
                      }
                    }
                  },
                  "underage": {
                    "summary": "Análise de crédito não permitida para menores",
                    "value": {
                      "message": "Análise não realizada: usuário menor de idade."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Documento do titular não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Subject Document Not Found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/status": {
      "get": {
        "tags": ["Diligências"],
        "summary": "Check diligence status",
        "description": "Returns the current status of a diligence, including subject info, progress (finished/total certificates), and whether it includes credit analysis",
        "operationId": "getDiligenceStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Diligence ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Diligence status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiligenceStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Diligence not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Diligence not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/certificates": {
      "get": {
        "tags": ["Diligências"],
        "summary": "List diligence certificates",
        "description": "Returns the list of certificates for a diligence, grouped by court/issuer",
        "operationId": "getDiligenceCertificates",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Diligence ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Certificates list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiligenceCertificatesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Diligence not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Diligence not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/download-pdf": {
      "get": {
        "tags": ["Diligências"],
        "summary": "Download diligence as PDF",
        "description": "Downloads the diligence report as PDF. When mergeCertificates=1, merges all completed certificates into a single PDF. When mergeCertificates=0, returns the first completed certificate PDF.",
        "operationId": "downloadDiligencePdf",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Diligence ID"
          },
          {
            "name": "mergeCertificates",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["0", "1"],
              "default": "0"
            },
            "description": "1 to merge all certificates into one PDF, 0 to return first certificate only"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Diligence not found or no completed certificates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/diligences/{id}/download-zip": {
      "get": {
        "tags": ["Diligências"],
        "summary": "Download diligence as ZIP",
        "description": "Downloads all diligence certificates and report as a ZIP archive",
        "operationId": "downloadDiligenceZip",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Diligence ID"
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Diligence not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/certificate/{id}/download-pdf": {
      "get": {
        "tags": ["Diligências"],
        "summary": "Download single certificate PDF",
        "description": "Downloads a specific certificate by its ID. Use certificate IDs from GET /diligences/{id}/certificates response.",
        "operationId": "downloadCertificatePdf",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Certificate ID"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Certificate not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Certificate not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Token",
        "description": "Chave de API para autenticação. Envie o token no header X-Api-Token."
      }
    },
    "schemas": {
      "EmitDiligenceRequest": {
        "type": "object",
        "required": ["document"],
        "properties": {
          "document": {
            "type": "string",
            "description": "CPF (11 dígitos) ou CNPJ (14 dígitos) sem formatação",
            "minLength": 11,
            "maxLength": 14,
            "pattern": "^[0-9]{11}$|^[0-9]{14}$",
            "example": "12345678901"
          },
          "documentIdentity": {
            "type": "string",
            "description": "Documento de identidade (RG) - opcional, apenas para CPF",
            "minLength": 6,
            "maxLength": 15,
            "example": "MG12345678"
          },
          "districts": {
            "type": "array",
            "description": "Lista de distritos onde as certidões devem ser emitidas. Obrigatório exceto quando creditAnalysisOnly é true. Máximo 2 distritos.",
            "minItems": 1,
            "maxItems": 2,
            "items": {
              "$ref": "#/components/schemas/StateDistrict"
            },
            "example": [
              {
                "state": "MG",
                "district": "BELO_HORIZONTE"
              }
            ]
          },
          "creditAnalysis": {
            "type": "boolean",
            "description": "Se deve incluir análise de crédito (Serasa) além das certidões. Adiciona 0,5 créditos ao custo. Só é realizada se o titular tiver 18+ anos.",
            "default": false
          },
          "creditAnalysisOnly": {
            "type": "boolean",
            "description": "Se true, realiza apenas análise de crédito sem emitir certidões. Distritos não são obrigatórios. Titular deve ter 18+ anos.",
            "default": false
          },
          "useOldModel": {
            "type": "boolean",
            "description": "Se deve usar o modelo antigo de relatório de análise de crédito (true) ou o novo modelo de aluguel (false). Aplica-se apenas a requisições de análise de crédito. Modelos: antigo usa CREDIT_ANALYSIS_PF/PJ, novo usa CREDIT_ANALYSIS_PF_RENT/PJ_RENT",
            "default": false
          }
        }
      },
      "DiligenceStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Diligence ID"
          },
          "subject": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "document": {
                "type": "string",
                "description": "Obfuscated document number"
              }
            }
          },
          "state": {
            "type": "string",
            "description": "State (UF) or combination e.g. MG/SP"
          },
          "comarca": {
            "type": "string",
            "description": "District/court name"
          },
          "status": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "enum": ["Concluída", "Em andamento", "Falha"]
              },
              "finishedCertificates": {
                "type": "integer"
              },
              "totalCertificates": {
                "type": "integer"
              }
            }
          },
          "emissionDate": {
            "type": "string",
            "format": "date-time"
          },
          "haveAnalysisOfCredit": {
            "type": "boolean"
          }
        }
      },
      "DiligenceCertificatesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Diligence ID"
          },
          "subject": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "document": {
                "type": "string",
                "description": "Obfuscated document number"
              }
            }
          },
          "state": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "diligenceStatus": {
            "type": "string"
          },
          "certificates": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "certificateName": {
                    "type": "string"
                  },
                  "emissionResultStatus": {
                    "type": "string",
                    "enum": ["Em andamento", "Concluída", "Falha"]
                  },
                  "certificateStatus": {
                    "type": "string",
                    "nullable": true,
                    "enum": ["Pendência potencial", "Positiva", "Negativa"],
                    "description": "Status da certidão. Ausente enquanto a emissão não foi concluída."
                  }
                }
              }
            }
          },
          "requester": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "StateDistrict": {
        "type": "object",
        "required": ["state", "district"],
        "properties": {
          "state": {
            "type": "string",
            "description": "Sigla do estado brasileiro (UF)",
            "minLength": 1,
            "maxLength": 100,
            "example": "MG"
          },
          "district": {
            "type": "string",
            "description": "Nome do distrito (comarca) em maiúsculas com underscores",
            "minLength": 1,
            "maxLength": 100,
            "example": "BELO_HORIZONTE"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro",
            "example": "Validation Error"
          },
          "details": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              {
                "type": "object"
              }
            ]
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Credenciais de autenticação ausentes ou inválidas",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Unauthorized"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Erro interno do servidor",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Internal Server Error"
            }
          }
        }
      }
    }
  }
}
