{
  "openapi": "3.0.3",
  "info": {
    "title": "DiHub Core API",
    "description": "API for managing diligences (background checks) and credits for legal certificates in Brazil. This API handles CPF/CNPJ verification, certificate issuance across federal, state, and municipal jurisdictions, and credit management for users and organizations.",
    "version": "1.0.0",
    "contact": {
      "name": "DiHub Support"
    }
  },
  "servers": [
    {
      "url": "https://api.dihub.com.br",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Credits",
      "description": "Credit balance management"
    },
    {
      "name": "Diligences",
      "description": "Diligence emission and certificate management"
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI Specification",
        "description": "Returns the OpenAPI 3.0 specification for this API in JSON format. No authentication required.",
        "operationId": "getOpenApiSpec",
        "responses": {
          "200": {
            "description": "OpenAPI specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/credits/balance": {
      "get": {
        "tags": ["Credits"],
        "summary": "Get credit balance",
        "description": "Retrieves the total credit balance for the authenticated user, including personal and organization credits",
        "operationId": "getBalance",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Credit balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "description": "Total available credits (user + organization)",
                      "example": 15.5
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/diligences/emit": {
      "post": {
        "tags": ["Diligences"],
        "summary": "Emit a diligence",
        "description": "Creates a new diligence for background check verification. Supports three main scenarios:\n\n1. **Full Diligence with Certificates**: Requires districts and optionally includes credit analysis\n2. **Credit Analysis Only**: Only performs credit analysis without certificate issuance\n3. **Combined**: Full diligence with added credit analysis\n\nThe endpoint automatically determines certificate types (federal, state, municipal) based on the provided districts and document type (CPF/CNPJ).",
        "operationId": "emitDiligence",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmitDiligenceRequest" },
              "examples": {
                "fullDiligenceCPF": {
                  "summary": "Full diligence for CPF with single district",
                  "description": "Standard diligence for a person (CPF) in one district. Cost: 1 credit",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [{ "state": "MG", "district": "BELO_HORIZONTE" }]
                  }
                },
                "fullDiligenceCNPJ": {
                  "summary": "Full diligence for CNPJ with single district",
                  "description": "Standard diligence for a company (CNPJ) in one district. Cost: 1 credit",
                  "value": {
                    "document": "12345678000190",
                    "districts": [{ "state": "SP", "district": "SAO_PAULO" }]
                  }
                },
                "multipleDistrictsSameState": {
                  "summary": "Multiple districts in the same state",
                  "description": "Diligence covering two districts within the same state (e.g., MG). Cost: 1 credit",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      { "state": "MG", "district": "BELO_HORIZONTE" },
                      { "state": "MG", "district": "DIVINOPOLIS" }
                    ]
                  }
                },
                "multipleDistrictsDifferentStates": {
                  "summary": "Multiple districts in different states",
                  "description": "Diligence covering districts across different states. Cost: 2 credits (1 base + 1 for multiple states)",
                  "value": {
                    "document": "12345678901",
                    "districts": [
                      { "state": "MG", "district": "BELO_HORIZONTE" },
                      { "state": "SP", "district": "SAO_PAULO" }
                    ]
                  }
                },
                "withCreditAnalysis": {
                  "summary": "Full diligence with credit analysis",
                  "description": "Combines certificate issuance with credit analysis. Cost: 1.5 credits (1 for diligence + 0.5 for credit analysis). Note: Credit analysis is only performed if subject is 18+ years old.",
                  "value": {
                    "document": "12345678901",
                    "documentIdentity": "MG12345678",
                    "districts": [{ "state": "MG", "district": "BELO_HORIZONTE" }],
                    "creditAnalysis": true
                  }
                },
                "creditAnalysisOnly": {
                  "summary": "Credit analysis only (no certificates)",
                  "description": "Performs only credit analysis without issuing any certificates. Cost: 1 credit. Requires subject to be 18+ years old.",
                  "value": {
                    "document": "12345678901",
                    "creditAnalysisOnly": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diligence created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "diligenceId": {
                      "type": "string",
                      "description": "Unique identifier for the created diligence",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Diligence emitted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or business rule violation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "validationError": {
                    "summary": "Invalid input data",
                    "value": {
                      "message": "Validation Error",
                      "details": [{ "path": ["document"], "message": "O documento deve ter 11 ou 14 caracteres" }]
                    }
                  },
                  "missingDistricts": {
                    "summary": "Districts required for non-analysis-only requests",
                    "value": {
                      "message": "Validation Error",
                      "details": [{ "path": ["districts"], "message": "Distritos são obrigatórios quando não é apenas Análise DiHub" }]
                    }
                  },
                  "insufficientCredits": {
                    "summary": "Not enough credits",
                    "value": {
                      "message": "Not enough credits",
                      "details": { "requiredCredits": 2, "totalCreditsAmount": 1 }
                    }
                  },
                  "invalidDistrict": {
                    "summary": "Invalid district for state",
                    "value": {
                      "message": "Invalid district INVALID_DISTRICT in state MG",
                      "details": { "district": { "state": "MG", "district": "INVALID_DISTRICT" } }
                    }
                  },
                  "underage": {
                    "summary": "Credit analysis not allowed for minors",
                    "value": {
                      "message": "Análise não realizada: usuário menor de idade."
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication. Format: `Bearer <token>`"
      }
    },
    "schemas": {
      "EmitDiligenceRequest": {
        "type": "object",
        "required": ["document"],
        "properties": {
          "document": {
            "type": "string",
            "description": "CPF (11 digits) or CNPJ (14 digits) without formatting",
            "minLength": 11,
            "maxLength": 14,
            "pattern": "^[0-9]{11}$|^[0-9]{14}$",
            "example": "12345678901"
          },
          "documentIdentity": {
            "type": "string",
            "description": "Identity document (RG) - optional, only for CPF",
            "minLength": 6,
            "maxLength": 15,
            "example": "MG12345678"
          },
          "districts": {
            "type": "array",
            "description": "List of districts where certificates should be issued. Required unless creditAnalysisOnly is true. Maximum 2 districts.",
            "minItems": 1,
            "maxItems": 2,
            "items": { "$ref": "#/components/schemas/StateDistrict" },
            "example": [{ "state": "MG", "district": "BELO_HORIZONTE" }]
          },
          "creditAnalysis": {
            "type": "boolean",
            "description": "Whether to include credit analysis (Serasa) in addition to certificates. Adds 0.5 credits to cost. Only performed if subject is 18+ years old.",
            "default": false
          },
          "creditAnalysisOnly": {
            "type": "boolean",
            "description": "If true, only performs credit analysis without issuing any certificates. Districts are not required. Subject must be 18+ years old.",
            "default": false
          }
        }
      },
      "StateDistrict": {
        "type": "object",
        "required": ["state", "district"],
        "properties": {
          "state": {
            "type": "string",
            "description": "Brazilian state abbreviation (UF)",
            "minLength": 1,
            "maxLength": 100,
            "enum": ["MG", "SP"],
            "example": "MG"
          },
          "district": {
            "type": "string",
            "description": "District (comarca) name in uppercase with underscores",
            "minLength": 1,
            "maxLength": 100,
            "enum": ["BELO_HORIZONTE", "DIVINOPOLIS", "SAO_PAULO"],
            "example": "BELO_HORIZONTE"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Validation Error"
          },
          "details": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "message": { "type": "string" }
                  }
                }
              },
              { "type": "object" }
            ]
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication credentials are missing or invalid",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "message": "Unauthorized" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "message": "Internal Server Error" }
          }
        }
      }
    }
  }
}
